<section>
  <div class="container d-flex justify-content-center align-items-center flex-column">
    <h1 class="display-1 my-4">CONTACT ME</h1>
    <input type="text" class="form-control w-75 mx-auto my-4 " placeholder="Name">
    <input type="email" class="form-control w-75 mx-auto mb-4" placeholder="Email Address">
    <input type="password" class="form-control w-75 mx-auto mb-4" placeholder="Password">
    <input type="text" class="form-control w-75 mx-auto mb-4" placeholder="Message">
    <button class="btn fs-4">Send</button>
  </div>
</section>
